@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $fontColor;
    font-size: $fontSize;
    font-family: $fontFamily;
    letter-spacing: 0.5px;
}

a {
    text-decoration: none;
    color: $fontColor;
}

li {
    list-style: none;
}

.accesso {
    p {
        display: inline;
    }
    a {
        display: inline-block;
        background-color: $blueColor;
        color: white;
        padding: 5px;
        border-radius: 5px;
    }
    img {
        height: 20px;
        width: auto;
        vertical-align: middle;
    }
}

