header {
    @include flex-between-start;
    @include padding-80;
    padding-top: calc(10vh + 40px);
    .text-left {
        width: 50%;
        h1, p {
            line-height: 50px;
        }
        h1 {
            font-size: 250%;
        }
    }
    img {
        width: 47%;
        height: auto;
    }
}