nav {
    .container {
        border-bottom: 1px solid $fontColor;
        @include flex-between-center;
        height: 100%;
        width: 100%;
    }
    ul {
        @include flex-between-center;
        li {
            margin-left: 15px;
            font-weight: bold;
            font-size: 90%;
        }
        i {
            font-size: 80%;
        }
    }
    position: fixed;
    height: 10vh;
    background-color: white;
    width: 100%;
    padding: 0 10%;  
}

.google-sign {
    @include flex-between-center;
    display: block;
    padding: 10px;
    border: 1px solid $blueColor;
    border-radius: 5px;
    a {
        color: $blueColor;
    }
    img {
        height: 20px;
        vertical-align: middle;
    }
}



